/* feel free to go on google fonts and change this to another font! */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap");

/* == HTML == */

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --title-color: #444444;
  --header-color: rgba(173, 211, 255, 0.6);
  color: var(--text-color);
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

html {
  box-sizing: border-box;
  max-width: 390px;
  width: 100%;
  min-height: 844px;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-size: 18px;
  border: 1px solid black;
}

.masthead {
  margin-bottom: 0.5rem;
}

.masthead button,
.profile-pic {
  background-color: var(--header-color);
  border: 2px solid #444444;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.discussion-post .card {
  border: none;
}

.row .discussion-profile-pic {
  max-width: 60px;
}

.discussion-post-title {
  border: 1.5px solid #444444;
  border-radius: 5px;
  text-align: left;
}


.discussion-post-title.card-title.h5 {
  font-size: 15px;
  padding: 5px 10px;
}

.discussion-post-category {
  min-width: 65px;
}

.discussion-post .categories {
  margin-top: 12px;
}

.discussion-post-category.card-subtitle.h6 {
  font-size: 10px;
  text-transform: uppercase;
}

.discussion-post-body.card-body {
  border: 1.5px solid #444444;
  border-radius: 5px;
  margin: 12px;
  padding: 10px;
}

.comment-input {
  margin-top: 10px;
}

.comment-input textarea {
  border: 1.5px solid #444444;
  height: 80px;
  font-size: 12px;
  resize: none;
}

.comment-input button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: transparent;
  padding: 0px 20px;
  box-shadow: 3px 4px 4px rgb(166, 165, 165);
}

.comment-body.card-body {
  padding: 10px;
}

.comment .votes.col-3 {
  width: 15%;
  padding: 12px 0px;
}

.comment-text.col-9 {
  padding-left: 0;
  width: 85%;
}

.comment-body {
  border: 1.5px solid #444444;
  border-radius: 5px;
}

.ending-text {
  margin-top: 20px;
  font-weight: 400;
  color: #a0a0a0;
}

.discussion-post-details {
  font-size: 12px;
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(175, 212, 255, 0.5);
}

.discussion-post-details .col-4:first-child {
  min-width: 114px;
  padding-right: 0;
}

.comment-body.card-body>div:first-child {
  margin-bottom: 5px;
}

.comment-settings {
  background-color: transparent;
  border: none;
  font-weight: 800;
}

.comment-reply {
  background-color: transparent;
  border: 1.5px solid #444444;
  border-radius: 50%;
  font-weight: 800;
}

.col-10.comment-text {
  padding-right: 0;
}

.col-2.reply-button {
  padding: 0;
}

.discussion-post-details .col-1 {
  padding: 0;
  max-width: 14px;
}

.discussion-post-details .col-4:last-child {
  min-width: 110px;
  padding-left: 0;
}

.comment-details {
  background-color: rgba(209, 209, 209, 0.5);
  border-radius: 6px;
  height: 30px;
  padding: 7px 8px;
}

.comment-details p {
  font-weight: 400;
  margin: 0;
}

.comment-author.col-5 {
  padding: 0;
  margin: 0;
}

.row.comment-details {
  margin: 0px 5px;
}

.comment-author-date.col-8 {
  padding-right: 0;
}

.comment-date.col-7 {
  padding-left: 6px;
  margin: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  ;
}

.comment-date.col-7 p {
  width: 90px;
}

.comment-body {
  padding: 0;
}


.comment.card {
  margin-top: 14px;
}

.discussion-post-body.card-body p,
.comment.card p {
  font-size: 10px;
  text-align: left;
}

/* body */

.contract p {
  text-decoration: underline;
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100%;
}

/* == HEADERS == */
h1 {
  color: var(--title-color);
}

.site-title {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
}

h2,
h3 {
  color: var(--header-color);
}

h4 {
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.6rem;
  margin: 1rem 1rem 1rem 0;
}

h4 {
  padding: 20px;
}

.background {
  text-align: center;
  margin-bottom: 2rem;
}

/* Post Preview */

.preview.card .col-9,
.preview-body.card-body>.row,
.preview-body.card-body .col-4 {
  background-color: rgb(238, 246, 254);
}

.discussion-end-block {
  height: 100%;
  min-height: 183px;
}

.preview.card {
  width: 346px;
  height: 100%;
  min-height: 103px;
  background-color: rgb(238, 246, 254);
  margin-bottom: 14px;
  border: 2px solid #444444;
  box-shadow: 3px 4px 4px #4444447b;
}

.preview-body,
.preview.card .col-3 {
  background-color: rgb(238, 246, 254);
}

.preview.card>.row {
  margin: 0;
}

.home .trending {
  margin: 10px 0px 15px 0px;
}

.preview-title.card-title {
  background-color: rgb(238, 246, 254);
  font-size: 15px;
  text-align: left;
}

.preview-title {
  background-color: rgb(238, 246, 254);
  font-size: 15px;
  text-align: left;
  font-weight: 500;
}

#welcome-msg {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
}

.discussion .preview.card:first-child {
  margin-top: 1rem;
}

.upvoted {
  color: green;
  background-color: rgb(234, 255, 234);
}

.downvoted {
  color: red;
  background-color: rgb(255, 223, 223);
}

.add-post-button,
.add-comment-button {
  right: 7%;
  bottom: 15%;
  position: fixed;
  z-index: 1;
  width: 70px;
  height: 70px;
  font-size: 25px;
  background-color: #ffff;
  border: 2px solid #444444;
  box-shadow: 2px 2px 6px #444444;
  padding: 10px;
  border-radius: 50%;
}

.preview-body.card-body {
  padding: 10px 0px;
}

.category.col-4 {
  padding-right: 0;
  width: 70px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(175, 212, 255, 0.5);
}

.hello {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(175, 212, 255, 0.5);
  margin-bottom: 10px;
}

.preview-category.card-subtitle.h6 {
  font-size: 8px;
  text-align: left;
  margin-bottom: 8px;
  background-color: rgb(238, 246, 254);
}

.preview-text {
  font-size: 8px;
  text-align: left;
  background-color: rgb(238, 246, 254);
}

.voting-arrow {
  height: 16px;
}

.preview-voting {
  height: 90px;
  width: 63px;
  margin: 10px 1px;
  font-size: 11px;
  background-color: var(--bg-color);
  border: 2px solid #444444;
  border-radius: 6px;
}

.preview-voting button {
  border-radius: 50%;
  margin-top: 2px;
  border: 1.4px solid black;
  padding: 2px 3px;
}

.comment-voting button {
  border-radius: 50%;
  margin-top: 2px;
  border: 1.4px solid black;
  padding: 2px 7px;
}

.comment-voting .vote-count {
  font-size: 12px;
  font-weight: 500;
}

.preview-upvote button,
.comment-upvote button {
  background-color: rgb(173, 217, 158, 0.6);
}

.preview-downvote button,
.comment-downvote button {
  background-color: rgb(215, 162, 162, 0.6);
}

.discussion {
  position: absolute;
}

/**/

.wrapper {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.main {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: var(--bg-color);
  padding: 5px 10px 10px 5px;
  position: fixed;
  bottom: 0px;
  font-size: 12px;
  box-shadow: 0 0 15px 20px white;
}

.footer button {
  border: 0px;
  background-color: var(--bg-color);
}

.discussion-button,
.home-button {
  border-radius: 10px;
  min-width: 60px;
  border: none;
}

.home-button {
  font-size: 16px;
  margin-right: 1rem;
}

.discussion-button.xpoints,
.home-button.xpoints {
  background-color: rgba(175, 212, 255, 0.6);
  min-width: 124px;
  height: 41px;
  width: 25%;
}

.nav-button:hover {
  border-bottom: 3px solid var(--header-color);
}

.nav-button-icon {
  margin: 0rem 1.2rem 0 1.2rem;
  height: 53px;
}

.form-group>.form-control {
  border: 3px solid var(--title-color);
  box-shadow: 3px 4px grey;
}

.container .btn-primary {
  background-color: var(--title-color);
  border-color: var(--header-color);
}

.btn-primary.save-btn {
  background-color: var(--header-color);
  border-color: var(--header-color);
}

.container .btn-primary:hover,
.container .btn-primary:focus {
  background-color: var(--title-color);
  border-color: var(--header-color);
}

.btn-primary.save-btn:hover,
.btn-primary.save-btn:focus {
  background-color: var(--header-color);
  border-color: var(--header-color);
}

.grid button {
  width: 100px;
  height: 100px;
}

.item img {
  border: 1px solid black;
  border-radius: 13px;
  width: 100px;
  height: 100px;
}

.exchange h5 {
  text-align: left;
  margin: 10px 0 20px 10px;
}

.bottom-space {
  height: 60px;
  padding-bottom: 0px;
}

#examplesearch {
  border-radius: 90px;
}

.item {
  position: relative;
}

#price {
  position: absolute;
  right: 0px;
  bottom: 58px;
  padding-right: 5px;
  background-color: white;
  border-radius: 5px;
  border-width: 50px;
  border: 1px solid black;
}

#name {
  position: absolute;
  bottom: 0px;
  left: 30px;
  background-color: white;
  border: 1px solid black;
}

p {
  font-size: 15px;
  font-weight: 500;
}

.market-xpoints-filter-sort {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropbtn {
  background-color: rgb(239, 239, 239);
  color: black;
  font-size: 16px;
  border-radius: 10px;
  min-width: 60px;
  font-size: 18px;
}

.add-post-options {
  background-color: rgb(239, 239, 239);
  color: black;
  font-size: 20px;
  border: black;
  border-radius: 8px;
  min-width: 60px;
  max-height:40px;
}

.cat {
  font-size: 15px;
}



.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(239, 239, 239);
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 13px;
  margin-left: -30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(175, 212, 255, 0.6);
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(239, 239, 239);
}

#profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px solid black;

}

#edit-icon {
  width: 15px;
  height: 15px;
  margin: auto;
}

.edit-box {
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  box-shadow: 3px 5px 5px #b3b2b2;
}

.edit-box2 {
  background-color: white;
  position: relative;
  right: 0;
  margin-right: 40px;
  border: 1px solid black;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5%;
}

.profile-edit {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}

#profile-name {
  padding-top: 10px;
  font-size: 30px;
  margin: auto;
}

#profile-username {
  color: #7D7D7D;
}

.profile {
  background: rgb(175, 212, 255, 0.1);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 3px 5px 5px #b3b2b2;
  position: relative;
}

.profile h1 {
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 3px;
  padding-top: 6px;
}

.interest {
  position: relative;
  display: flex;
}

.edit-box3 {
  background-color: white;
  position: absolute;
  right: 23px;
  bottom: 20px;
  border: 1px solid black;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5%;
  box-shadow: 3px 3px 5px #c2bfbf;
}


.interest p {
  margin-left: 15px;
  font-size: 11px;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #c2bfbf;
  max-width: max-content;
}

#profile-space {
  height: 100px;
}

#field {
  background-color: #E6E6E6;
  border: none;
  box-shadow: none;
}

#password {
  border: none;
  box-shadow: none;
}

#about-me {
  display: contents;
  line-height: 0px;
}
#about-me p {
  box-shadow: none;
  border: none;
  padding: 0;
  font-size: 11px;
}

#profile-edit {
  bottom: 0;
}
.edit-box:hover + .add-interest { 
  display: block;
}

input:hover {
  display: block;
}
.add-interest {
  width: 70px;
  height: 27px;
  border: 1px solid rgb(223, 216, 216);
  margin-left: 25px;
  font-size: small;
  font-weight: 500;

}

#status-will-a {
  background-color: rgba(175, 212, 255, 0.6);
}

#status-will {
  background-color: none;
}

#status-anon-a {
  background-color: rgba(175, 212, 255, 0.6);
}

#status-anon {
  background-color: none;
}


#privacy-edit {
  position: absolute;
  left: 317px;
}

.contract {
  display: none;
}

.submit-post-btn {
  margin-top: 10px;
  border-radius: 5px;
  background-color: transparent;
  padding: 0px 20px;
  box-shadow: 3px 4px 4px rgb(166 165 165);
}



@media only screen and (min-width: 395px) {
  .contract {
    display: block;
    border: 5px solid var(--header-color);
    box-shadow: 4px 4px 4px grey;
    padding: 10px;
    position: fixed;
    left: 70%;
    font-size: 15px;
    text-align: left;
  }

  .contract h3 {
    font-size: 20px;
    color: rgb(32, 32, 32);
  }

  .add-post-button,
  .add-comment-button {
    left: 300px;
    top: 440px;
  }
}
  
.radio-type label:hover{
  background-color: rgba(209, 230, 255, 0.6);
}

.radio-type input[type="radio"]:focus +label {
  border:2px dashed #444;
}
.add-post input {
  display:none;
}

.radio-type input[type="radio"]:checked + label {
  background-color: rgba(185, 218, 255, 0.6);
  border: 2px solid #444;
  border-radius: 5px;
  padding-right: 3px;
  padding-left:3px;
  padding-top:1px;
  padding-bottom:1px;
}

.radio-type label {
  background-color: white;
  border: 2px solid #444;
  border-radius: 5px;
  padding-right: 3px;
  padding-left:3px;
  padding-top:1px;
  padding-bottom:1px;
}

.radio-type input[type="checkbox"]:checked + label {
  background-color: rgba(185, 218, 255, 0.6);
  border: 2px solid #444;
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-top:1px;
  padding-bottom:1px;
}

#customRadioInline1 {
  display: none;
}

.form-container {
  padding:10px;
  padding-left:15px;
  padding-right:15px;
}
