/* feel free to go on google fonts and change this to another font! */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');

/* == HTML == */
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --title-color: #444444;
  --header-color: rgba(173, 211, 255, 0.6);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  max-width: 390px;
  width: 100%;
  max-height: 844px;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 18px;
}

.masthead {
  margin-bottom: 2rem;
}

/* body */

body {
  box-sizing: border-box;
  min-height: 100%;
  border: 1px solid black;
}

/* == HEADERS == */
h1 {
  color: var(--title-color);
}

.site-title {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
}

h2,
h3 {
  color: var(--header-color);
}

h4 {
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.6rem;
  margin: 1rem 1rem 1rem 0;
}

h4 {
  padding: 20px;
}

.background {
  text-align: center;
  margin-bottom: 2rem;
}

/* Post Preview */

.preview.card .col-9,
.preview-body.card-body>.row,
.preview-body.card-body .col-4 {
  background-color: rgb(221, 234, 249);
}

.preview.card {
  width: 346px;
  height: 100%;
  min-height: 103px;
  border: 1px solid #444444;
  background-color: rgb(221, 234, 249);
  box-shadow: 3px 4px 4px #4444447b;
  margin: 8px 0;
  border-radius: 6px;
}

.preview-body,
.preview.card .col-3 {
  background-color: rgb(221, 234, 249);

}

.preview-title.card-title {
  background-color: rgb(221, 234, 249);
  font-size: 15px;
  text-align: left;
}

.preview-body.card-body {
  padding: 10px 2px;
}

.preview-category.card-subtitle.h6 {
  font-size: 8px;
  margin-bottom: 8px;
  background-color: rgb(221, 234, 249);

}

.preview-text {
  font-size: 8px;
  text-align: left;
  background-color: rgb(221, 234, 249);
}

.preview-voting {
  height: 80px;
  width: 63px;
  padding: 0 10px;
  margin: 10px 1px;
  font-size: 12px;
  background-color: rgb(187, 6, 6);
  border: 3px solid #444444;
  border-radius: 6px;
}

.preview-voting button {
  border-radius: 50%;
  border: 1px solid black;
}


.preview-upvote button {
  background-color: rgb(173, 217, 158, .6);

}

.preview-downvote button {
  background-color: rgb(215, 162, 162, .6);
}

.preview-upvote {}

.preview-downvote {}

/**/

.wrapper {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.main {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 14px;
  font-size: 12px;
}

.footer button {
  border: 0px;
}

.nav-button:hover {
  border-bottom: 3px solid var(--header-color);
  ;
}

.nav-button-icon {
  margin: 0rem 1.2rem 0 1.2rem;
  height: 53px;
}

.form-group>.form-control {
  border: 3px solid var(--title-color);
  box-shadow: 3px 4px grey;
}

.container .btn-primary {
  background-color: var(--title-color);
  border-color: var(--header-color);
}

.btn-primary.save-btn {
  background-color: var(--header-color);
  border-color: var(--header-color);
}

.container .btn-primary:hover,
.container .btn-primary:focus {
  background-color: var(--title-color);
  border-color: var(--header-color);
}

.btn-primary.save-btn:hover,
.btn-primary.save-btn:focus {
  background-color: var(--header-color);
  border-color: var(--header-color);
}